# {{ ansible_managed }}
# Note: https://zersh01.github.io/iptables_interactive_scheme/ might help you
# See also the /etc/iptables/ipsets file
{% if iptables_rules_version == "v6" %}
{% set private_net_set = 'PrivateNet6' %}
{% set internal_host_set = 'InternalHost6' %}
{% set icmp_name = 'icmpv6' %}
{% set localhost_name = 'lo' %}
{% set iptables_extra_rules_filter = iptables_extra_rules_filter_v6 %}
{% set iptables_extra_rules_nat = iptables_extra_rules_nat_v6 %}
{% else %}
{% set private_net_set = 'PrivateNet4' %}
{% set internal_host_set = 'InternalHost4' %}
{% set icmp_name = 'icmp' %}
{% set localhost_name = 'lo' %}
{% set iptables_extra_rules_filter = iptables_extra_rules_filter_v4 %}
{% set iptables_extra_rules_nat = iptables_extra_rules_nat_v4 %}
{% endif %}

# RAW START ##############
*raw
:PREROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
COMMIT
# RAW END ##############
#
# FILTER START ##############
*filter
# Policies -----------
{% for name in ["INPUT", "FORWARD", "OUTPUT"] %}
:{{ name }} {{ 'ACCEPT' if name|lower in iptables_accept_policy.filter else 'DROP' }} [0:0]
{% endfor %}
:DOCKER-USER - [0:0]
# INPUT rules -----------
# Established connection
-A INPUT -m conntrack --ctstate ESTABLISHED -j ACCEPT
# icmp (ping)
-A INPUT -p {{ icmp_name }} -j ACCEPT
# Localhost traffic
-A INPUT -i {{ localhost_name }} -j ACCEPT
# Private network traffic
-A INPUT -m set --match-set {{ private_net_set }} src -j ACCEPT
# Public ports
{% for port in iptables_public_ports %}
-A INPUT -p tcp -m tcp --dport {{ port }} -j ACCEPT
{% endfor %}
# Internal host exposed ports
{% for port in iptables_internal_hosts_only_ports %}
-A INPUT -m set --match-set {{ internal_host_set }} src -p tcp -m tcp --dport {{ port }} -j ACCEPT
{% endfor %}
# Extra rules
{% for comment, rule in iptables_extra_rules_filter_v4.items()|sort(attribute='0') %}
# {{ comment }}
{{ value }}
{% endfor %}
# DOCKER-USER rules -----------
# Established connection
-A DOCKER-USER -m conntrack --ctstate ESTABLISHED,RELATED -j RETURN
# localhost traffic
-A DOCKER-USER -i {{ localhost_name }} -j RETURN
# Private network traffic
-A DOCKER-USER -m set --match-set {{ private_net_set }} src -j RETURN
# Public ports, we need to use conntrack
# see https://docs.docker.com/engine/network/firewall-iptables/#match-the-original-ip-and-ports-for-requests
{% for port in iptables_public_docker_ports %}
-A DOCKER-USER -p tcp -m conntrack --ctorigdstport {{ port }} -j RETURN
{% endfor %}
# Internal host exposed ports, there again using conntrack
{% for port in iptables_internal_hosts_only_docker_ports %}
-A DOCKER-USER -m set --match-set {{ internal_host_set }} src -p tcp -m conntrack --ctorigdstport {{ port }} -j RETURN
{% endfor %}
# finally, drop the rest (although the default policy is already drop)
-A DOCKER-USER -j DROP
COMMIT
# FILTER END ##############
#
# NAT START ##############
*nat
{% for name in ["PREROUTING", "INPUT", "OUTPUT", "POSTROUTING"] %}
:{{ name }} {{ 'ACCEPT' if name|lower in iptables_accept_policy.nat else 'DROP' }} [0:0]
{% endfor %}
# masquerading private network
-A POSTROUTING -m set --match-set {{ private_net_set }} src -j MASQUERADE
# Extra rules
{% for comment, rule in iptables_extra_rules_nat_v4.items()|sort(attribute='0') %}
# {{ comment }}
{{ value }}
{% endfor %}
COMMIT
# NAT END ##############
# MANGLE START ##############
*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
COMMIT
# MANGLE END ##############
