[mysqld]
# following https://matomo.org/faq/troubleshooting/faq_183/
wait_timeout=28800
interactive_timeout=28800
net_read_timeout=28800
net_write_timeout=28800
innodb_log_file_size=2048M
max_allowed_packet=2048M
max_connections=400

# following https://matomo.org/faq/on-premise/how-to-configure-matomo-for-speed/
# see also https://mariadb.com/resources/blog/10-database-tuning-tips-for-peak-workloads/
innodb_flush_log_at_trx_commit=2
# use tmpfs
tmpdir=/run/mysqld

# from sqltunner, boosting high above to avoid disk hit
sort_buffer_size=268435456 # 256M
read_rnd_buffer_size=268435456 # 256M
innodb_buffer_pool_instances=20



# specific to use memory
# 45G out of 62G (should be 80% of RAM, but DB is not alone)
innodb_buffer_pool_size=45G
innodb_log_buffer_size=2048M
# table size 64M / Go = 64*20
max_heap_table_size=1280M
tmp_table_size=1280M

# enable better perfs analysis
performance_schema = ON
