[defaults]
inventory = ./inventory.production.ini

roles_path = roles.galaxy:roles
collections_path = ./collections/
# we need module utils from lae.proxmox
module_utils=./plugins/module_utils:./roles.galaxy/lae.proxmox/module_utils/

gathering = smart

# Time independant ansible_managed
ansible_managed = "This file is managed by ansible, don't make changes here - they will be overwritten."

# Automaticaly detects the Python interpreter on the host and don't display a warning
interpreter_python = auto_silent

lookup_plugins = ./plugins/lookup:~/.ansible/plugins/lookup:/usr/share/ansible/plugins/lookup
filter_plugins = ./plugins/filter:~/.ansible/plugins/filter:/usr/share/ansible/plugins/filter
library = ./plugins/modules:~/.ansible/plugins/modules/:/usr/share/ansible/plugins/modules/

[ssh_connection]
# These settings create a persistent SSH socket that can be reused
# We need this because we would like to use ssh tunneling
# to access proxmox API
ssh_args = -o ControlMaster=auto -o ControlPersist=180s
# we use a socket in .ssh because it is a secure place
control_path = ~/.ssh/ansible-ssh-%%h-%%p-%%r
